pkgbase = gnome-shell-pomodoro-git
	pkgdesc = This GNOME utility intends to help manage time according to Pomodoro Technique.
	pkgver = r877.90d19f0
	pkgrel = 1
	url = https://github.com/codito/gnome-shell-pomodoro/
	install = gschemas.install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = intltool
	makedepends = vala
	makedepends = perl-xml-sax-expat
	makedepends = gnome-common
	makedepends = appstream-glib
	depends = gnome-desktop
	depends = libcanberra
	depends = upower
	depends = gstreamer
	depends = gom
	depends = gobject-introspection
	provides = gnome-shell-pomodoro
	conflicts = gnome-shell-extension-pomodoro
	conflicts = gnome-shell-extension-pomodoro-git
	conflicts = gnome-shell-pomodoro
	source = gnome-shell-pomodoro-git::git+https://github.com/codito/gnome-shell-pomodoro.git
	md5sums = SKIP

pkgname = gnome-shell-pomodoro-git

